body {
	background-color: #223;
	color: #ddd;
	font-family: Montserrat, sans-serif;
}
.infobox {
	background-color: #444;
	border: 2px solid #888;
}
hr {
	border: 1px solid #888;
}
a {
	text-decoration: none;
	target: "_blank"
}
a:link {
	color: #7bf;
}
a:visited {
	color: #b7f;
}
a:hover {
	color: #def;
}
a:active {
	color: #fff;
}
.center {
	margin: auto;
	padding: 0px;
	float: center;
	width: 640px;
	align: middle;
}
.album {
	border: 2px solid #888;
}
.single {
	color: #7fb;
}